[submodule "anchor/programs/governance"]
	path = anchor/programs/governance-lib
	url = git@github.com:RastaDjuss/governance-program-library.git
	[submodule "Mannheim"]
    	path = Mannheim
    	url = git@github.com:RastaDjuss/Mannheim.git
